#root {
  max-width:none;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 3em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: gray solid 1px;
  border-radius: 10px;
  justify-self: center;
  button {
    margin: 1em;
  }
}

.userButtons{
  margin: 1em;
  button {
    margin: 0.5em;
  }
}

.rewards-item{
  background-color: rgb(205, 204, 204);
  border-radius: 10px;
  padding: 1em;
  width: 30%;
}

.rewards-container{
  display: flex;
  justify-content: space-around;
}



.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(93, 93, 93);
  padding: 2em;
}


.nav-container a{
  font-size: x-large;
  margin: 1em;
  width: 7em;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-container span{
  box-sizing: border-box;
  width: 100%;
}


.active{
  text-decoration: underline;
}

.nav-container a:hover{
  box-shadow: inset 200px 0 0 0 #54b3d6;;
  color: black;
}

@media (prefers-color-scheme: dark) {
  .rewards-item{
    color: rgb(0, 0, 0);
    background-color: rgb(160, 160, 160);
  }
}

.rewards_history_buttons{
  display: flex;
  justify-content: center;
  button {
    margin: 1em;
  }
}

