/* Header styling */
.logo-header {
    padding-bottom: 5rem;
}


/* Form styling */
.login-form {
   display: flex;
   flex-flow: column nowrap; 
   justify-content: center;
   align-content: center;
   margin: 20px;
   padding-top: 10px;
   /* padding-bottom: 20px; */
}

/* Input styling */

input[type=password], input[type=email] {
    height: 2.5rem;
    padding-left: 30px;
    border-radius: 30px;
    border-style: hidden;
    background-color: rgb(213, 212, 212);
    color: grey;
}

input[type=checkbox] {
    flex: 1;
    align-self: flex-start;
}

form {
    display: flex;
    flex-flow: column;
    row-gap: 25px;
}

/* Login card styling */
.login-card {
    background-color: white;
    padding: 0.5rem;
    width: 300px;
}

/* Label styling */
label {
    font-size: 12px;
    color: #0d4a83;
}

/* Login links */
.user-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-help input[type=checkbox] {
    flex: 1;
}

/* .user-help > label:nth-of-type(1) {
    justify-items: flex-start;
} */

.user-help > label, .user-help > a {
    font-size: 12px;
    flex: 8;
    color: #0d4a83; 
    font-weight: normal;
}

/* Account creation link */

.account-creation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.account-creation p {
    color: black;
    font-size: 12px;
}

.account-creation {
    color: #0d4a83;
    font-size: 12px;
}

/* Button styling */
.login-button {
    background-color: #0d4a83;
    margin-top: 20px;
}

